

#homer{ 
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(96, 186, 247);
    background-image: url(homer.png);
    padding: 50px;
    border: 5px solid darkcyan;
    background-position: 50% 50%;
    background-size: 200px;
    background-repeat: no-repeat;
    float: left;
}

#marge{ 
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(124, 247, 99);
    background-image: url(marge.png);
    padding: 50px;
    border: 5px solid rgb(5, 153, 72);
    background-position: 50% 50%;
    background-size: 200px;
    background-repeat: no-repeat;
    float: left;
}

#lisa{ 
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(158, 123, 253);
    background-image: url(lisa.png);
    padding: 50px;
    border: 5px solid rgb(101, 28, 143);
    background-position: 50% 50%;
    background-size: 200px;
    background-repeat: no-repeat;
    float: left;
}

#bart{ 
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(248, 162, 50);
    background-image: url(bart.png);
    padding: 50px;
    border: 5px solid rgb(184, 109, 12);
    background-position: 50% 50%;
    background-size: 200px;
    background-repeat: no-repeat;
    float: left;
}

@font-face
{
    font-family: simpsons;
    src: url(simpsonfont/Simpsonfont.otf);
}

h1{
    font-family: simpsons;
    font-size: 100px;
    text-align: center;
}